<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.emsConnectionString"
            connectionString="server=localhost;User Id=root;database=ems"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>